<a href="https://colab.research.google.com/github/Mihir76/Python-for-data-science/blob/main/1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1 Introduction to PYTHON**

![download.png]()

### **1.1 Keywods in Python** :-

Keywords are the **reserved words** in Python and  are ***case-sensitive***. 

We cannot use a keyword as a variable name, function name or any other identifier.

In Python 3.11 There are **35** key words.

Here's a list of all keywords in Python Programming


```
False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

```
All these keyword are written in **lower-case** except **True** ,  **False** and  **None**.

### **1.2 Identifier** :-


An identifier in python is a name given to entity like class,variables,function etc.

Identifier helps us to **differentiate** one entity from other.

We can't use the keyword as identifier.

In [ ]:
age = 19

In [ ]:
age

19

In the above example the **age** is the identifier that are used to differentiate variable from other variable and if we wants to access that variable then just used it's name and we are able to use that!.

####**1.2.1 Rules for Identifier :-**

```

Identifier names in Python can contain numbers (0-9), uppercase letters (A-Z), lowercase letters (a-z), and underscore (_).

The name should always start with a non-numeric character.

An identifier name should not contain numeric characters only.

Identifier names in Python are case-sensitive like most other languages.

```

The below is the right way of identifier naming convention therefore it doesn't give me any error.

In [ ]:
my_name = 'Mihir Patel'

In [ ]:
my_name

'Mihir Patel'

The below identifier naming convention is not valid, therefore it gives me **invalid decimal literalr** error message.

In [ ]:
2_my_roll_no = 15

SyntaxError: ignored

### **1.3 Comment in Python** :-

The of the most important practice in python is providing comment while you writing your code.With the help of Comments you can figuring out What is going on in your code.In fact writing comments helps you figures things in code.Python gives flexibility to write comments in your code.

You can use hash(#) symbol to write comment as seen below :

In [ ]:
#This is comments and interpriter ignore it.

####**1.3.1 Multiline comments :-**

The below are the multi-line Comments :-

In [ ]:
#Here we are adding two numbers
#and then print the result
a =5
b=10
sum = a+b
print(sum)

15

We can alternatively use **triple single-quotes** for comment or we can also use **triple double-quotes** for comments

In [ ]:
'''This is comment using triple single-quotes '''

'This is comment using triple single-quotes '

In [ ]:
"""This is comment using triple double-quotes"""

'This is comment using triple double-quotes'

####**1.3.2 DOCSTRING Comments:-** 

The fullform of Docstring is **Documentation String**

Docstring in Python are the string literal that are appear right after the defination of function,method,class or module.


Example :-

In [ ]:
def addNumbers(a,b) :
  '''This function is return the summation of two Numbers.'''
  sum = a+b
  return sum

If you wanted to find the Docstring associated with function then use ```__doc__``` inorder to get the Docstring.

In [ ]:
print(addNumbers.__doc__)

This function is return the summation of two Numbers.

###**1.4 Variable :-**

Think of Python variable as Contariner that hold space in memory in order for you to store something in memory.So if you create variable then you are telling Python to create a space because you have something to store.

**NOTE :**
Variable are **case-sensitive** therefore **Age** and **age** are two different variable.

Example of Python Variable :-

In [ ]:
gender = 'Male'

Inorder to get the Memory location at where the variable is store in memory then use the following syntax :

```print(id(name_of_variable))```

Example :-

In [ ]:
print(id(gender))

140689863625712

####**1.4.1 Assinging multiple-value to multiple-variable :-**

The below method is used for assigning multiple-values to multiple-variable

In [ ]:
a,b,c =4 ,'Mihir',36
print(a)
print(b)
print(c)

4
Mihir
36

###**1.5 Rules and Naming Convention for Python Variable :-**

1.Python variable should have a combination of letter in lowercase (**a to z**) or uppercase (**A to Z**) or underscore(**_**).

Example :-

In [ ]:
#snack_case naming convention : f_var ='It is snack_case variable'
#MACRO_CASE naming convention : s_var = 'It is MACRO_CASE variable'
#camel_case naming convetion : t_var = 'It is camelCase variable'
First_variable = 'Computer Engineering'

2.Make sure your variable name makes sense.

Example :-

In [ ]:
# Insted of writing a = ['blue','green','red','pink']
#you can make it as follows
color = ['blue','green','red','pink']
print(color)

['blue', 'green', 'red', 'pink']

3.You can use underscore (_) to separate variable names that are more than one.

Example :-

In [ ]:
sem4_spi = 9.04
print(sem4_spi)

9.04

###**1.6 Output Of Python :-**

In Python, we normally use the **print()** Function to outa result onto screen

In [ ]:
number1 =30
number2 = 15
mul = number1*number2
print(f"Multiplication of {number1} and {number2} is : {mul}")

Multiplication of 30 and 15 is : 450

###**1.7 Input Of Python :-**

The Python **input()** function is used to accept user inputs.This allows us to write Dynamic codes in Python.

The default Python **input()** Function taking input in **String** data type.

Example :-

In [ ]:
age = input("Enter your Age : ")
print(f"Your Age is : {age}")
print(f"age variable memory location is :  {id(age)}")

Enter your Age : 20
Your Age is : 20
age variable memory location is :  140562069038384

We can do some more complex things with **input()** function like,

In [ ]:
#accept the quantity and size and based on entered valyues we can gives sonme disscount!
quantity = int(input("Enter the Quantity : "))
size = int(input("Enter the size : "))
disscount = 0.1
price = quantity* size
disPrice = price - price*disscount
print(f"You will get {disscount*100}% off!!")
print(f"Actual Ammount is : {price}.")
print(f"Disscounted Ammount is : {disPrice}.")

Enter the Quantity : 200
Enter the size : 15
You will get 10.0% off!!
Actual Ammount is : 3000.
Disscounted Ammount is : 2700.0.

###**1.8 Import In Python :-**

We do not have to write python code from scratch to accomplish certain task.Python has sereval inbuild modules that are already coded to perform some task and we can easily use these modules to accomplish our task without coding these funcationality from scratch.

Example :-

In [ ]:
numbers = [10,25,30,35,62]
cal_mean = (10+25+30+35+60)/5
print(f"Mean is : {cal_mean}")

Mean is : 32.0

In [ ]:
#alternatively we can use build-in function and do our task
import statistics as s
cal_mean = s.mean(numbers)
print(f"Mean is : {cal_mean}")

Mean is : 32.4

###**1.9 Operators in Python :-**

In python to carry out arithmetic or logical computation,we use special symbol called operator.The value that the operator operates on is called called the operand.

####**1.9.1 Arithmetic Operators :-**

```
Operator	  Operation	      Example
```


---


```
+	         Addition	       5 + 2 = 7
-	         Subtraction	    4 - 2 = 2
*	         Multiplication     2 * 3 = 6
/	         Division	       4 / 2 = 2
//	        Floor Division	 10 // 3 = 3
%	         Modulo	         5 % 2 = 1
**	        Power	          4 ** 2 = 16

```

In [ ]:
#the follow is illustrate the addition of two numbers:-
num1 = 10
num2 = 15
sum = num1 + num2
print(f"The Summation of {num1} and {num2} is : {sum}")

The Summation of 10 and 15 is : 25

In [ ]:
#the follow is illustrate the suntraction of two numbers:-
num1 = 10
num2 = 15
sub = num1 - num2
print(f"The Subtraction of {num1} and {num2} is : {sub}")

The Subtraction of 10 and 15 is : -5

In [ ]:
#the follow is illustrate the multiplication of two numbers:-
num1 = 10
num2 = 15
mul = num1 * num2
print(f"The Multiplication of {num1} and {num2} is : {mul}")

The Multiplication of 10 and 15 is : 150

In [ ]:
#the follow is illustrate the division of two numbers:-
num1 = 10
num2 = 15
div = num1 / num2
print(f"The Division of {num1} and {num2} is : {div}")

The Division of 10 and 15 is : 0.6666666666666666

In [ ]:
#the follow is illustrate the floor division of two numbers:-
num1 = 10
num2 = 15
flor = num1 // num2
print(f"The Floor Division of {num1} and {num2} is : {flor}")

The Floor Division of 10 and 15 is : 0

In [ ]:
#the follow is illustrate the modulo of two numbers:-
num1 = 10
num2 = 3
mod = num1 % num2
print(f"The Modulo of {num1} and {num2} is : {mod}")

The Modulo of 10 and 3 is : 1

In [ ]:
#the follow is illustrate the power of two numbers:-
num1 = 3
num2 = 5
pow = num1 ** num2
print(f"The Power of {num1} and {num2} is : {pow}")

The Power of 3 and 5 is : 243

####**1.9.2 Comparison Operators:-**


The Comparision operator are used to make comparision in Python and the output is either **True** or **False**.
```
Operator	  Name	         Example	
```
---
```
==	        Equal	        x == y	
!=	        Not equal	    x != y	
>	         Greater than	 x > y	
<	         Less than	    x < y	
>=	        Greater than     x >= y
              or equal to		
<=	        Less than        x <= y
              or equal to	
```

In [ ]:
45 == 7

False

In [ ]:
23 >= 45

False

In [ ]:
12 != 12

False

In [ ]:
15 > 20

False

####**1.9.3 Logical Operators:-**

In Python,Logical operatorare used on conditional statements(either Trur or False). They perform Logical **and** , **or** , **not** operationals.
```
Operator	Description	                                             Example	
```


---
```
and 	    Returns True if both statements are true	               x < 5 and  x < 10	
or	      Returns True if one of the statements is true	          x < 5 or x < 4	
not	     Reverse the result, returns False if the result is true    not(x < 5 and x < 10)
```

In [ ]:
a,b,c = 27,15,8
a<10 and b>10

False

In [ ]:
a,b,c = 27,15,8
a <10 or b>10

True

In [ ]:
a,b,c = 27,15,8
not(a<10 or b>15)

True

####**1.9.4 Bitwise Operator :-**

In Python, bitwise operators are used to perform bitwise calculations on integers. The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits, hence the name bitwise operators. The result is then returned in decimal format.

```
OPERATOR	DESCRIPTION	       SYNTAX

```
---
```
&	       Bitwise AND	        x & y
|	       Bitwise OR	         x | y
~	       Bitwise NOT	        ~x
^	       Bitwise XOR	        x ^ y
>>	      Bitwise right shift	x>>
<<	      Bitwise left shift	 x<<
```

In [ ]:
a,b = 10,4
print(a&b)

0

In [ ]:
a,b = 10,4
print(a|b)

14

In [ ]:
a = 10
print(~a)

-11

In [ ]:
a,b = 10,4
print(a^b)

14

In [ ]:
a= 10
print(a>>1)

5

In [ ]:
a = 10
print(a<<1)

20

####**1.9.5 Assignment Operator :-**

In Python, we use assignment operator to assign the values to variables.

```
Operator	Example	Same As
```
---
```
=	       x = 5	   x = 5	
+=	      x += 3	  x = x + 3	
-=	      x -= 3	  x = x - 3	
*=	      x *= 3	  x = x * 3	
/=	      x /= 3	  x = x / 3	
%=	      x %= 3	  x = x % 3	
//=	     x //= 3	 x = x // 3	
**=	     x **= 3	 x = x ** 3	
&=	      x &= 3	  x = x & 3	
|=	      x |= 3	  x = x | 3	
^=	      x ^= 3	  x = x ^ 3	
>>=	     x >>= 3	 x = x >> 3	
<<=	     x<<= 3	  x = x << 3
```

In [ ]:
x = 5
print(f"Old value of x is : {x}")
x += 2
print(f"New value of x is : {x}")

Old value of x is : 5
New value of x is : 7

In [ ]:
y = 12
print(f"Old value of y is : {y}")
y *= 2
print(f"New value of y is : {y}")

Old value of y is : 12
New value of y is : 24

####**1.9.6 Ientity Operator :-**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

```
Operator	 Description	                                           Example
```
---
```
is 	      Returns true if both variables are the same object	    x is y	
is not	   Returns true if both variables are not the same object	x is not y
```

In [ ]:
a,b,c=15,19,26
A,B,C = 25,19,63
#here b and B is memory location is same therefoer it give True
print(b is B)
print(id(b))
print(id(B))

True
9793664
9793664

####**1.9.7 Membership Oerator :-**

Membership operators are used to test if a sequence is presented in an object.

```
Operator	Description	                                       Example
```
---
```
in 	      Returns True if a sequence with the                   x in y
             specified value is present in the object		
not in	   Returns True if a sequence with the                   x not in y
             specified value is not present in the object	
```

In [ ]:
list = [14,25,36,41]
for l in list :
  print(l,end=" ")

14 25 36 41

###**1.10 Python Flow Control:-**

Over here we learn,


*   if statement
*   if...else statement
*   elif 
*   for loop
*   while loop
*   break ,pass and continue

####**1.10.1 If Statement:-**

In Python we use If Statement to execute certain block of code if the certain condition is statisfied.

![download.png]()

In [ ]:
num = int(input("Enter Your Number :- "))

if num > 50 :
  print(f"{num} is Greater than 50.")

Enter Your Number :- 63
63 is Greater than 50.

####**1.10.2 If...else Statement:-**

In Python we use if...else to execute certain block of code if certain condition is statified and if that condition is not satisfied than it execute else part block of code.

![images.png]()

In [ ]:
num = int(input("Enter Your Number :- "))

if num>50 :
  print(f"{num} is greater than 50.")
else :
  print(f"{num} is less than 50.")

Enter Your Number :- 42
42 is less than 50.

####**1.10.3 Elif statement:-**

In Python we used elif statement to execute try out several condition and execute only if condition is satisfied.

![if-elif-else.jpg]()

In [ ]:
num = int(input("Enter Your Number :- "))

if num>50:
  print(f"{num} is Greater than 50.")
elif num==50:
  print(f"{num} is Equal to 50.")
else :
  print(f"{num} is less than 50")

Enter Your Number :- 50
50 is Equal to 50.

####**1.10.4 Foor Loop:-**

InPython,we use For Loop to iterate over a squence either list ,string or other iterable objects.This process is referred to as traversal.

Example:-

In [ ]:
#For Loop demonstation
myList = [12,15,28,36,52]
print("Elements of List are :",end=" ")
for i in myList:
  print(i,end=" ")

Elements of List are :  12 15 28 36 52

In [ ]:
#condition inside for loop
myNum = [2,6,9,15,20,34,53]

for i in myNum :
  #It check for odd numbers only and print odd numbers from myNum
  if i%2==0 :
    print(i,end=" ")

2 6 20 34

####**1.10.5 While Loop:-**

InPython, While loop is used to iterate over a block of code as long as the condition is true.

![download.png]()

Example:-

In [ ]:
num = 10
i = 5
while i<=num:
  print(i)
  i +=1

5
6
7
8
9
10

####**1.10.6 Break:-**

The break in Python terminate the current loop and resume the execution at next statement 

![cpp_break_statement.jpg]()

Example:-

In [ ]:
#the below for loop execution terminated at i=5 and i=1 to i=4 is printed
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

####**1.10.7 Continue:-**

Thik of a situation where you need towrite a program that print numbers from 1 to 10 but it not print 8, in that scenario **continue** is helpful for us.

![continue.jpg]()

Example:-

In [ ]:
#this is demonstration of continue

for i in range(1,11):
  if i==8:
    continue
  print(i,end=" ")

1 2 3 4 5 6 7 9 10

####**1.10.8 Pass:-**

The pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

Example:-

In [ ]:
#pass demonstration

def addNum(a,b):
  pass

addNum(5,2)