<a href="https://colab.research.google.com/github/Mihir76/Python-for-data-science/blob/main/2_intermidiate_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**2 Intermidiate Python:-**

#**2.1 Function in Python:-**

Function in Python are conveninent way to to divide code into useful blocks. The block of code is executed when the Function is called.

**Type of Function:-**

There are two main types of Function in Python :-

*   **Build-in Function** - Function that are build-in in Python.
*   **User-define Function** - Function a user can define explicity.

##**2.1.1 Build-in Function :-**

Example of Build-in Function :-

In [ ]:
#length function

a = "google"
len(a)

6

In [ ]:
#upper-case converter
a.upper()

'GOOGLE'

In [ ]:
#round and abs function

abs(round(-15/7,3))

2.143

In [ ]:
#min function
min(15,23,6,98,62,33)

6

In [ ]:
#max function
max(52,369,12,20,57,14)

369

In [ ]:
#replace function
name = "Mihit"
name.replace("t","r")

'Mihir'

##**2.1.2 User-defined Function:-**

**Component of Function :-**

*   keyword **def** that marks the start of the Function.def is short form of keyword "define". 
*   A **Function name** to uniquely identify the funbction.
*   **Paramneter(arguments)** through we pass the values to function.These are optional.
*   A **colon(:)** to marks the end of function.
*   One or more valid Python **statements** that make up the function body.
*   An optional **return statement** to return a value from the function. 

Example :-

In [ ]:
def addition(a,b):
  sum = a+b
  return sum

**Calling the Function :-**

In [ ]:
addition(5,26)

31

In [ ]:
#calculating simple interrest

def interest_cal(amount,rate,time):
  interest = (amount*rate*time)/100
  return interest

interest_cal(10000,.3,5)

150.0

In [ ]:
#creating function that print emoji

def emoji(unicode=None):
  print(unicode)

emoji("\U0001F60E")

üòé

###**2.1.2.i Arbitray Arguments:-**

In Python, We use Arbitary argument when we did not know the number of arguments function will accept in advance.

Example :-

In [ ]:
#arbitrary Argument

def students(*names):
  for name in names:
    print(f"Welcome {name}")


students("Mihir","Crish","John","Alex","Mohhamed")

Welcome Mihir
Welcome Crish
Welcome John
Welcome Alex
Welcome Mohhamed

###**2.1.2.ii Function with Loop:-**

Example:-

In [ ]:
#Function with for loop

def myFunction(*arg):
  for i in arg:
    print(i)

myFunction('I','am','Mihir','Patel',1633)

I
am
Mihir
Patel
1633

###**2.1.2.iii Lambda Function:-**


Anonymous Function is the function that is define without a name. We use the **def** keyword to create lamda function to define anonymous function.

Example :-

In [ ]:
#creating lamda function

x = lambda a: a+10

print(x(5))

15

In [ ]:
#lambda with two arguments

x = lambda m,n : m*n

print(x(5,12))

60

#**2.2 Local and Global Variable :-**

##**2.2.1 Global Variable :-**

**Global** variable in Python, declare out-side the function.That means you can use it in the function or out-side the function.

Example:-

In [ ]:
#demonstraite the global variable

glo = 'I an out-side the function.'

def fun():
  return glo #we can access the glo because it is global variable.

fun()

'I an out-side the function.'

##**2.2.2 Local Variable :-**

**Local variable** in Python, declare in-side the function. That means we can't use it out-side the function.

Example:-

In [ ]:
#demonstation of local variable

def function():
  loc = 'I am inside-function and I am local variable.'
  return loc

#if we call function() than it will print the loc but if we try to access it then we get an error.

function() #it works perfectly

print(loc) #it will give an error

NameError: ignored

**NB:** We can use both local and global variable together in-side any Function.

Example:-

In [ ]:
a ='I am Global Variable'

def function():
  b='I am Local Variable.'
  full_sentance= a +' and  '+ b
  return full_sentance

function()

'I am Global Variable and  I am Local Variable.'

#**2.3 Python File :-**

We can think of Files as names location on disk to store related information, They are used to permenantly store data in non-volatile memory(e.g.Hard disk)

Since Randome Access Memory(RAM) is volatile.i.e. It loses its data when the computer is turn off,it is wise to store the data on file in order to permenetly have access to it.

Naormally, When we want to read or write file from file, we need to open it first and when we are done reading or writing to file, we close it so that any resources that file is using tied is freed for other use.

In Python, files are treated in two modes as text or binary.The file may be in the text or binary formate and each line of file is ended with the specia character.

Hence, a file operation can be done in the following order

*   Open a file
*   Read or Write file
*   Close the file

##**2.3.1 Opening File:-**

Python provide an **open()** function that accept two arguments one is the file name and second is access mode in which file can be accessed.

There are several mode in Python associated with files are as shown below :-

```
Mode	Description
r	Open a file for reading. (default)
w	Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.
x	Open a file for exclusive creation. If the file already exists, the operation fails.
a	Open a file for appending at the end of the file without truncating it. Creates a new file if it does not exist.
t	Open in text mode. (default)
b	Open in binary mode.
+	Open a file for updating (reading and writing)
```

In [ ]:
file = open("/content/demo.txt")

print("Data in file are : ")

print(file.read())

Data in file are :
What is data science?

Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization‚Äôs data. These insights can be used to guide decision making and strategic planning.

The accelerating volume of data sources, and subsequently data, has made data science is one of the fastest growing field across every industry. As a result, it is no surprise that the role of the data scientist was dubbed the ‚Äúsexiest job of the 21st century‚Äù by Harvard Business Review (link resides outside of IBM). Organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomes.

In [ ]:
f = open("/content/demo.txt")
f.readline()

'What is data science?\n'

In [ ]:
file

By defayult Python used **UTF-8** for encoding.

**UTF-8** is one of the most commonly used encoding and python often defaults to used it.UTF stands for "Unicode Transformation Formate" and 8 means the 8-bit values are used for encoding.

However, the default encoding platform dependent.In window it is cp1252 and in linux and mac it is utf-8 therefore it is highly recommand to specifies the encoding type.

##**2.3.2 Close() Method:-**

Closing the file in Python is simple process.

After you are done reading or writing to the file, you can close the file by using **close()** method.

In [ ]:
file = open("/content/demo.txt")
print(file.read())
#Now we are close the file so that other resources associated with file can be released and avaible for use for other processes.
file.close()

What is data science?

Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization‚Äôs data. These insights can be used to guide decision making and strategic planning.

The accelerating volume of data sources, and subsequently data, has made data science is one of the fastest growing field across every industry. As a result, it is no surprise that the role of the data scientist was dubbed the ‚Äúsexiest job of the 21st century‚Äù by Harvard Business Review (link resides outside of IBM). Organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomes.

##**2.3.3 With statement:-**

The with statement in Python is useful in the case manipulating file.It is especially used in scenario where a pair of statements are used to be execute with block of code in between them.

Syntax:-

**with open(```<file_name>,<access_mode>```) as``` <file_pointer> ```:**

In [ ]:
#demonstation of with statement
with open("/content/demo.txt","r") as file:
  data= file.read()
  print(data)

What is data science?

Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization‚Äôs data. These insights can be used to guide decision making and strategic planning.

The accelerating volume of data sources, and subsequently data, has made data science is one of the fastest growing field across every industry. As a result, it is no surprise that the role of the data scientist was dubbed the ‚Äúsexiest job of the 21st century‚Äù by Harvard Business Review (link resides outside of IBM). Organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomes.

##**2.3.4 Writing in file:-**

Writing to file is common practice in Python.In order to a file in python,we first need to open the file in **write(w)**  , **append(a)** or **exclusive creation(x)** mode.

*   **w** : It will overwrite the file if any file exist.The file pointer is at the beginning of the file.
*   **a** :It will append the existing file.The file pointer is at the end of the file.It create a new file if no file if exist.

You therefore have to be careful when writing to a file because the **w** will overwrite your existing content if there exist any.If you wish to add content into an existing file than you can use the **a** mode.If you wish to write new file then go with w mode.

writing to a file is done using the **write()** method.

In [ ]:
#the following are the existing content of the file

file = open("/content/file1.txt","r")
print(file.read())

This is the existing content of the file.

In [ ]:
#now let's open this file in 'w' mode

file =open("/content/file1.txt","w")
file.write("This is how you will write the file in Python.")

In [ ]:
file = open("/content/file1.txt","r")
print(file.read())

This is how you will write the file in Python.

**NB: Notice how the new sentance has overwrite the existing one.We could have used the 'a' mode to append it instead.**

In [ ]:
#let's use append mode to write the file

#first let's read the file

with open("/content/file2.txt","r") as f:
  data = f.read()
  print(data)

This is the existing content of the file.

In [ ]:
#now let's write the file in append mode
file = open("/content/file2.txt","a")
file.write("This is the new content added just moment age in append mode.")
file.close()

In [ ]:
file = open("/content/file2.txt","r")
data= file.read()
print(data)
file.close()

This is the existing content of the file.This is the new content added just moment age in append mode.

#**2.4 Python Modules:-**

Modules referes to a file containing Python statements and definations.

We do not also have to write Python code from scratch to accomplish certain task.Python is  having sevaral in-build modules that are already coded to perform some task and we can easlily used that modules to accomplish our task without us coding these functionality from scratch

Let's see an examples below :-

In [ ]:
#Let's import statistick module
import statistics as st
dir(st)

['Counter',
 'Decimal',
 'Fraction',
 'NormalDist',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_normal_dist_inv_cdf',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'sqrt',
 'stdev',
 'tau',
 'variance']

The listed above are the ib-built methods of the statistics module we just import it and use in out program to acompolish specific task.

In [ ]:
#Let;'s import math module

import math as m
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
#calculating area of the circle
r = int(input("Enter the radius of the circle :- "))
area = m.pi*m.pow(r,2)
print(f"The Area is : {round(area,3)}")

Enter the radius of the circle :- 12
The Area is : 452.389

##**2.2.1 Renaming the Module:-**

If you want to aliash the module than use **as** to rename the module.

Example:-

In [ ]:
import matplotlib as mt
dir(mt.pyplot)

['Annotation',
 'Arrow',
 'Artist',
 'AutoLocator',
 'Axes',
 'Button',
 'Circle',
 'Figure',
 'FigureCanvasBase',
 'FixedFormatter',
 'FixedLocator',
 'FormatStrFormatter',
 'Formatter',
 'FuncFormatter',
 'GridSpec',
 'IndexLocator',
 'Line2D',
 'LinearLocator',
 'Locator',
 'LogFormatter',
 'LogFormatterExponent',
 'LogFormatterMathtext',
 'LogLocator',
 'MaxNLocator',
 'MultipleLocator',
 'Normalize',
 'NullFormatter',
 'NullLocator',
 'Number',
 'PolarAxes',
 'Polygon',
 'Rectangle',
 'ScalarFormatter',
 'Slider',
 'Subplot',
 'SubplotTool',
 'Text',
 'TickHelper',
 'Widget',
 '_INSTALL_FIG_OBSERVER',
 '_IP_REGISTERED',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_auto_draw_if_interactive',
 '_backend_mod',
 '_get_running_interactive_framework',
 '_interactive_bk',
 '_log',
 '_pylab_helpers',
 '_setp',
 '_setup_pyplot_info_docstrings',
 '_show',
 'acorr',
 'angle_spectrum',
 'annotate',
 'arrow',
 'autoscale',
 'autumn',
 'axes',
 'axhline',
 'axhspan',
 'axis',
 'axvline',
 'axvspan',
 'bar',
 'barbs',
 'barh',
 'bone',
 'box',
 'boxplot',
 'broken_barh',
 'cbook',
 'cla',
 'clabel',
 'clf',
 'clim',
 'close',
 'cm',
 'cohere',
 'colorbar',
 'colormaps',
 'connect',
 'contour',
 'contourf',
 'cool',
 'copper',
 'csd',
 'cycler',
 'dedent',
 'delaxes',
 'deprecated',
 'disconnect',
 'docstring',
 'draw',
 'draw_all',
 'draw_if_interactive',
 'errorbar',
 'eventplot',
 'figaspect',
 'figimage',
 'figlegend',
 'fignum_exists',
 'figtext',
 'figure',
 'fill',
 'fill_between',
 'fill_betweenx',
 'findobj',
 'flag',
 'functools',
 'gca',
 'gcf',
 'gci',
 'get',
 'get_backend',
 'get_cmap',
 'get_current_fig_manager',
 'get_figlabels',
 'get_fignums',
 'get_plot_commands',
 'get_scale_docs',
 'get_scale_names',
 'getp',
 'ginput',
 'gray',
 'grid',
 'hexbin',
 'hist',
 'hist2d',
 'hlines',
 'hot',
 'hsv',
 'importlib',
 'imread',
 'imsave',
 'imshow',
 'inferno',
 'inspect',
 'install_repl_displayhook',
 'interactive',
 'ioff',
 'ion',
 'isinteractive',
 'jet',
 'legend',
 'locator_params',
 'logging',
 'loglog',
 'magma',
 'magnitude_spectrum',
 'margins',
 'matplotlib',
 'matshow',
 'minorticks_off',
 'minorticks_on',
 'mlab',
 'new_figure_manager',
 'nipy_spectral',
 'np',
 'pause',
 'pcolor',
 'pcolormesh',
 'phase_spectrum',
 'pie',
 'pink',
 'plasma',
 'plot',
 'plot_date',
 'plotfile',
 'plotting',
 'polar',
 'prism',
 'psd',
 'quiver',
 'quiverkey',
 'rc',
 'rcParams',
 'rcParamsDefault',
 'rcParamsOrig',
 'rc_context',
 'rcdefaults',
 'rcsetup',
 're',
 'register_cmap',
 'rgrids',
 'savefig',
 'sca',
 'scatter',
 'sci',
 'semilogx',
 'semilogy',
 'set_cmap',
 'set_loglevel',
 'setp',
 'show',
 'silent_list',
 'specgram',
 'spring',
 'spy',
 'stackplot',
 'stem',
 'step',
 'streamplot',
 'style',
 'subplot',
 'subplot2grid',
 'subplot_tool',
 'subplots',
 'subplots_adjust',
 'summer',
 'suptitle',
 'switch_backend',
 'sys',
 'table',
 'text',
 'thetagrids',
 'tick_params',
 'ticklabel_format',
 'tight_layout',
 'time',
 'title',
 'tricontour',
 'tricontourf',
 'tripcolor',
 'triplot',
 'twinx',
 'twiny',
 'uninstall_repl_displayhook',
 'violinplot',
 'viridis',
 'vlines',
 'waitforbuttonpress',
 'warn_deprecated',
 'winter',
 'xcorr',
 'xkcd',
 'xlabel',
 'xlim',
 'xscale',
 'xticks',
 'ylabel',
 'ylim',
 'yscale',
 'yticks']

##**2.2.2 from..import Statement :-**

If you don't want to import the whole module and just import the fraction of the module then use the

```from <name of module>import<name of specific submodule> ```statement.

Example :-

In [ ]:
from matplotlib import pyplot as plt

#**2.5 Python Package(Libraries) :-**

What if you want to put several module togethger?

That's when **package** come in picture.

A Package is basically a directory with Python files and file with name **init.py**, that means that every directory which contain a file named **init.py** will treated as package by Python, It's possible to put several module init.

In short, a directory must contain a file named **init.py** in order for Python to consider it as Package.

![structure-of-packages.webp]()

In [ ]:
#demonstation of package

import datetime 
print(datetime.date.today())

2023-01-28

In [ ]:
#insted of importing whole package we xcan import an module
from datetime import date
print(date.today())

2023-01-28

##**2.5.1 Example of Python Library :-**



*   Numpy
*   Pandas
*   Matplotlib
*   Seaborn
*   SciPy
*   Scikit-Learn
*   Plotly
*   Beautiful Soup
*   Scrapy
*   Selenium  etc.

#**2.6 Pip in Python :-**

Pip is basically a recursive acronym which stands for 'Pip install Package'.

pip is the package installer in Python. You can use pip to install packages from internet.

In [ ]:
#installing the pip

!pip install pip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (22.0.4)

In [ ]:
#It will give the version information of pip in computer.

pip --version

pip 22.0.4 from /usr/local/lib/python3.8/dist-packages/pip (python 3.8)

Now you can install any package using the **pip** command.

##**2.6.1 Upgrading pip :-**

In [ ]:
#unix/macos

#python -m pip install -U python

In [ ]:
#windows

#py -m pip install -U pip

**Now let's install some package.**

In [ ]:
#pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)

**You can now import some packages**

In [ ]:
import numpy as np

In [ ]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'Bytes0',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'Datetime64',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Str0',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'Uint64',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_financial_names',
 '_globals',
 '_mat',
 '_pytesttester',
 '_version',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kernel_version',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [ ]:
np.zeros(8)

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
arr = [15,25,15,23,68,10,10,63]
np.unique(arr)

array([10, 15, 23, 25, 63, 68])

#**2.7 Data type in Python:-**

There are various data types in Python.We will consider some of the important regularly used data types.

##**2.7.1 Python Data :-**

The **Python Data** catagory consist of :-

1.   Integers (int)
2.   Floating point numbers(float)
3.   complex Numbers
4.   String(str)
5.   List
6.   Tuple
7.   Dictionary
8.   Set

###**2.7.1.(i) Integer :-**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
num = 10
print(type(num))

<class 'int'>

###**2.7.1.(ii) Floats :-**

The float type in Python represents the floating point number. Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts. For example, 97.98.

Python float values are represented as 64-bit double-precision values. The maximum value any floating-point number can be is approx 1.8 x 10^308. Any number greater than this will be indicated by the string inf in Python.

In [ ]:
num1 = 10.56
print(type(num1))

<class 'float'>

In [ ]:
print(type(11.5+5.5))

<class 'float'>

###**2.7.1.(iii) Complex :-**

Comlex Number are contain two parts , the real number and imaginary number, in the maths complex number are referd as 

complex number = 10+ 3i

But in Python, the imaginary part is refers as **10+3j**

In [ ]:
complex = 10+ 3j
print(type(complex))

<class 'complex'>

###**2.7.1.(iv) String :-**

In Python the string are mutable data that means you can't change the string once you declare it.

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [ ]:
data ='We are learning Python Data types.'
print(type(data))

<class 'str'>

###**2.7.1.(v) None:-**

The None keyword is used to define a null value, or no value at all. None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

In [ ]:
a =None
print(type(a))

<class 'NoneType'>

##**2.7.2 Python Data Structure :-**

In the Python there are main four data structure,


1.   List
2.   Tuple
3.   Set
4.   Dictionary

###**2.7.2.(i) List :-**


Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets [ ]

**NB : List are ordered and mutable.**

In [ ]:
myList = [15,"Mihir","cars","data sciences"]

print(type(myList))

#accessing the element of list
print(myList[2])

<class 'list'>
cars

In [ ]:
#list are mutable therefore there is no error.
myList[0]="patel"
print(myList)

['patel', 'Mihir', 'cars', 'data sciences']

###**2.7.2.(ii) Tuple :-**

Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is **immutable**, unlike lists which are mutable.

To create a tuple we will use **parenthisis** i.e. () operators.

In [ ]:
myTuple = (15,"Mihir","cars","data sciences")

print(type(myTuple))

<class 'tuple'>

**NB : Tuple are immutable.**

In [ ]:
#this will get an error
myTuple[0]="patel"

TypeError: ignored

###**2.7.3.(iii) Set :-**

A Set is an **unordered** collection data type that is iterable, **mutable**, and has **no duplicate** elements.

In [ ]:
mySet ={15,2,3,15,10,2,25,42}
print(mySet)
print(type(mySet))

{2, 3, 10, 42, 15, 25}
<class 'set'>

###**2.7.2.(iv) Dictionary :-**

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

Dictionary holds **key:value pair**. Key-Value is provided in the dictionary to make it more optimized.

In [ ]:
myDic ={1:"Alex",
        2:"John",
        3:"Mercy"}

print(myDic.keys())

print(myDic.values())

print(myDic)

print(type(myDic))

dict_keys([1, 2, 3])
dict_values(['Alex', 'John', 'Mercy'])
{1: 'Alex', 2: 'John', 3: 'Mercy'}
<class 'dict'>

#**2.8 List In Details :-**

List is an ordered sequence of items.

They are most used data structure in Python.

All the iteam in List do not need to be of same data type.

Example :-

In [ ]:
#create a list 

int_list = [15,25,15,100,52,36] #list contain integer data items

str_list = ['I am','Mihir','Patel','Computer Engineering'] #list contain str data items

int_and_str_list = [15,100,'Mihir',100.23,'Patel'] #list contain integer, float and str data items

print(int_list)

print(str_list)

print(int_and_str_list)

[15, 25, 15, 100, 52, 36]
['I am', 'Mihir', 'Patel', 'Computer Engineering']
[15, 100, 'Mihir', 100.23, 'Patel']

In [ ]:
print(type(int_list))
print(type(str_list))
print(type(int_and_str_list))

<class 'list'>
<class 'list'>
<class 'list'>

**Convertion from one data type to another data type**

In [ ]:
a = 20 #here a is integer

In [ ]:
float(a) #it will conver the data type from interger to float

20.0

In [ ]:
b = 200.354 #here b is float

In [ ]:
int(b) #It will convert the data type from float to integer

200

In [ ]:
#converting integer to str

str(a)

'20'

In [ ]:
data = 'I am Mihir Patel'
int(data)

ValueError: ignored

**NB : We can't Change the str data item to integer or float**

In [ ]:
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]
print(list_of_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#Accessing the list elements
print(list_of_list[0])

print()

print(list_of_list[2])

[1, 2, 3]

[7, 8, 9]

##**2.8.1 Working on List :-**

###**2.8.1.(i) Indexing and Slicing:-**

![python-list-index.png]()

In [ ]:
myList = ['p','r','o','b','e']

print(myList)

['p', 'r', 'o', 'b', 'e']

In [ ]:
len(myList)

5

In [ ]:
print(myList[0])
print(myList[-1])

p
e

In [ ]:
print(myList[2])
print(myList[-3])

o
o

In [ ]:
print(myList[1:4])

['r', 'o', 'b']

In [ ]:
print(myList[::-1])

['e', 'b', 'o', 'r', 'p']

##**2.8.2 Useful Methods :-**

###**2.8.2.(i) Split method :-**

The split() method splits a string into a list.


You can specify the separator, default separator is any whitespace.

In [ ]:
myName = 'Mihir Rajeshkumar Patel'
myName.split(' ')

['Mihir', 'Rajeshkumar', 'Patel']

In [ ]:
data = 'I am 3rd year computer engineering student @VGEC.'
data.split(" ")

['I', 'am', '3rd', 'year', 'computer', 'engineering', 'student', '@VGEC.']

###**2.8.2.(ii) Count Method :-**

The count() method returns the number of elements with the specified value.

In [ ]:
list_data = [15,23,56,15,2,15,48,69,63,12]
print(list_data.count(15))  #15 appearing 3 times in list

3

###**2.8.2.(iii) Index Method :-**

The **index()** method returns the position at the first occurrence of the specified value.

The **rindex()** method finds the last occurrence of the specified value.

In [ ]:
name = ["Alex","John","Smith","Roy","Macris"]

name.index("John")

1

In [ ]:
new_name = ["Alex","John","Smith","Roy","Macris","John"]

new_name.index("John")

1

###**2.8.2.(iv) Reverse List :-**

Python List **reverse()** is an inbuilt method in the Python programming language that reverses objects of the List **in place** i.e. it doesn‚Äôt use any extra space but it just modifies the original list.

In [ ]:
list1 = [15,25,36,95,12,37]

list1.reverse()

print(list1)

[37, 12, 95, 36, 25, 15]

###**2.8.2.(v) Append() :-**

The **append()** method appends an element to the end of the list.

In [ ]:
list1.append(100)

print(list1)

[37, 12, 95, 36, 25, 15, 100]

###**2.8.2.(vi) Remove() :-**

The remove() method removes the first occurrence of the element with the specified value.

In [ ]:
list1.remove(15)

print(list1)

[37, 12, 95, 36, 25, 100]

###**2.8.2.(vii) Pop() :-**

The **pop()** method removes the element at last position of the list.

In [ ]:
removed_element = list1.pop()
print(removed_element)
print(list1)

25
[37, 12, 95, 36]

###**2.8.2.(viii) Sort() :-**

The **sort()** method sorts the list ascending by default.


You can also make a function to decide the sorting criteria(s).

In [ ]:
list1.sort()

print(list1)

[12, 36, 37, 95]

#**2.9 Range(start,end,step) :-**

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [ ]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [ ]:
y = []

for i in range(10):
  y.append(i**2)

print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
data = range(0,13,2)
for d in data:
  print(d,end=' ')

0 2 4 6 8 10 12

#**2.10 List Comprehension :-**

In [ ]:
#let's try typical method.

myList = []

for i in range(10):
  myList.append(i**2)

print(myList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#let's comprehence this

myList1 = [i**2 for i in range(10)]

print(myList1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#let's see one more example

myList2 = [i for i in range(21) if i%2==0]
print(myList2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]